fastapi
uvicorn[standard]
motor
python-jose[cryptography]
passlib[bcrypt]
sentence-transformers
transformers
torch
xgboost
tavily-python
python-dotenv
pydantic
pydantic-settings
requests
scikit-learn
numpy
groq
email-validator
